.section-aboutus h2 {
    font-size: 15vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 80%;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-bottom: 20px;
}

.card-aboutus {
    background-color: rgba(0, 0, 0, 0);
}

.aboutus1 {
    display: flex;
    justify-content: center;
    gap: 100px
}

.client-logo {
    width: 40%;
    justify-content: center;
}

.aboutus-div * {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.card-body h5 {
    text-transform: uppercase;
    width: 100%;
}

.team-member-card {
    margin-top: -10px;
    text-transform: uppercase;
    line-height: 110%;
    font-weight: 800;
}

.team-member-

.rounded-circle {
    border-radius: 50%;
  border: 10px solid white;
}

@media screen and (max-width: 766px) {
    .aboutus1 {
        margin-bottom: 80px;
    }
    .div-client img {
        max-height: 100px;
    }
}