.section-planet {
    font-size: 30px; /*140px*/
    align-content: center;
    background-color: #141414;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-planet h2 {
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 800;
}

.planets-div {
    margin-top: 30px;
}

.planet {
  margin: auto;
}

.planet-title {
font-size: 30px;
}

.planet-description {
    font-family: 'Barlow', sans-serif;
}

.planet-button {
    transform: scale(1.5);
    margin: auto; 
    position: relative; 
    bottom: -21%; 
    left: 0
}

.planet-title {
  margin-top: 35%;
  font-size: 30px;
  text-transform: uppercase;
}

.planet-description {
  font-size: 15px;
  width: 60%;
  margin: auto;
  color: black;
}

.planet-button {
  color: black;
  position: absolute;
  bottom: -270px;
  left: 50%;
  transform: translateX(-50%);
}

/* flip cards */
.planet .planet-inner {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.planet:focus .planet-inner {
  transform: rotateY(180deg);
}

.planet-front,
.planet-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.planet-back {
  transform: rotateY(180deg);
}